<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lorena Allumette</title>

    <!-- Icono en pestaña abierta-->
    <link rel="icon" href="./../assets/fire-icon-noname.png">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!--icons rrss-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./../css/estilos.css">
</head>

<body>
    <!--Encabezado-->
    <header>
        <div id="banner"></div>
        <div id="logo"></div>

        <!--Barra de navegación-->
        <div id="navbar">
            <div class="navbar-buttons"><a href="./../index.html">Inicio</a></div>
            <div class="navbar-buttons"><a href="./../views/portfolio.html">Portfolio</a></div>
            <div class="navbar-buttons"><a href="./../views/presupuesto.html">Presupuesto</a></div> 
            <div class="navbar-buttons"><a href="./../views/about.html">Sobre mí</a></div>
            <div class="navbar-buttons"><a href="./../views/contacto.html">Contacto</a></div>
        </div>
    </header>
    
    <!--Cuerpo de la página de "Sobre mí"-->
    <main>

        <div id="portrait">
            <img src="./../assets/portrait_pfp.png" width="800" alt="Fotografía de Lorena Allumette">
        </div>

        <div class="titulo-about">✴︎ Sobre mí ✴︎</div>
        <div class="text-about">
            ¡Hola! Mi nombre es Lorena Navarro, aunque me represento artísticamente como <span class="destacar1">'Allumette'</span>.<br><br>
            Soy una artista 2D con especialización en <span class="destacar1"> animación </span>y <span class="destacar1">concept art</span> 
            enfocada a proyectos de animación (2D y 3D).
            Estoy graduada en Bellas Artes (UPV), lo que me ha permitido abarcar varios ámbitos del mundo creativo,
            incluyendo el <span class="destacar2">diseño gráfico</span>, la <span class="destacar2">ilustración</span> 
            y la <span class="destacar2">edición de vídeo</span>. 
            <br><br>

            Gran parte de mi inspiración proviene de la música y la obervación de mi entorno.<br>
            Todo cuenta una historia, y me encanta poder representarlas a través del arte.<br><br>

            'Allumette' significa cerilla en francés y aunque tiene que ver con que mi madre es francesa,
            representa mi personalidad: paciente y cálida.
            
        </div>

    </main>

    <!--Pie de página-->
    <footer class="fin-about">

        <div id="social-media">
            <a href="https://instagram.com/lorenallumette" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://vimeo.com/user208402128" target="_blank">
                <i class="fa fa-vimeo"></i>
            </a>
            <a href="https://linkedin.com/in/lorenallumette" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>

        <!--Avisos legales y datos de la "empresa"-->
        <div id="aviso-legal">
            <a class="aviso" href="">Aviso legal</a>
            <a class="politica-privacidad" href="">Política de privacidad</a>
            <a class="cookies" href="">Cookies</a>
        </div>

        <div id="direccion">C/ Ramon Llull, 5. 46021 <br> Valencia, España
        </div>

    </footer>

</body>
</html>