<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lorena Allumette</title>

    <!-- Icono en pestaña abierta-->
    <link rel="icon" href="./../assets/fire-icon-noname.png">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!--icons rrss-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./../css/estilos.css">
</head>

<body>
    <!--Encabezado-->
    <header>
        <div id="banner"></div>
        <div id="logo"></div>

        <!--Barra de navegación-->
        <div id="navbar">
            <div class="navbar-buttons"><a href="./../index.html">Inicio</a></div>
            <div class="navbar-buttons"><a href="./../views/portfolio.html">Portfolio</a></div>
            <div class="navbar-buttons"><a href="./../views/presupuesto.html">Presupuesto</a></div> 
            <div class="navbar-buttons"><a href="./../views/about.html">Sobre mí</a></div>
            <div class="navbar-buttons"><a href="./../views/contacto.html">Contacto</a></div>
        </div>
    </header>
    
    <!--Cuerpo de la página "Contacto"-->
    <main>
        <!--Métodos de contacto-->
        <div id="contact-icons">
            <i class="fa fa-envelope"></i> 
            <span class="contact-name"> 
                <a href="mailto:@correo.com">Email:</a>
            </span> lorenallumette@gmail.com
            <br>
            <i class="fa fa-phone"></i> <span class="contact-name">Teléfono:</span> +34 655 157 130
            <br>
            <i class="fa fa-map-marker"></i> <span class="contact-name">Dirección:</span> Calle Ramon Llull, 5. <br>46021. Valencia, España.
        </div>

        <div class="titulo-contacto">✴︎ ¡Contáctame! ✴︎</div>

        <!--Ubicación de la empresa con mapa de Google Maps-->
        <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.739516100103!2d-0.3502380236334329!3d39.47521301240382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048900b5bc601%3A0xd9ceacf57f47eb7b!2sCarrer%20de%20Ramon%20Llull%2C%205%2C%20Algir%C3%B3s%2C%2046021%20Val%C3%A8ncia!5e0!3m2!1ses!2ses!4v1729433453132!5m2!1ses!2ses" 
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    </main>

    <!--Pie de página-->
    <footer class="fin-contacto">

        <div id="social-media">
            <a href="https://instagram.com/lorenallumette" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://vimeo.com/user208402128" target="_blank">
                <i class="fa fa-vimeo"></i>
            </a>
            <a href="https://linkedin.com/in/lorenallumette" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
    </div>

        <!--Avisos legales y datos de la "empresa"-->
        <div id="aviso-legal">
            <a class="aviso" href="">Aviso legal</a>
            <a class="politica-privacidad" href="">Política de privacidad</a>
            <a class="cookies" href="">Cookies</a>
        </div>

        <div id="direccion">C/ Ramon Llull, 5. 46021 <br> Valencia, España
        </div>
       
    </footer>

</body>