<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lorena Allumette</title>

    <!-- Icono en pestaña abierta-->
    <link rel="icon" href="./../assets/fire-icon-noname.png">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!--icons rrss-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./../css/estilos.css">
</head>

<body>
    <!--Encabezado-->
    <header>
        <div id="banner"></div>
        <div id="logo"></div>

        <!--Barra de navegación-->
        <div id="navbar">
            <div class="navbar-buttons"><a href="./../index.html">Inicio</a></div>
            <div class="navbar-buttons"><a href="./../views/portfolio.html">Portfolio</a></div>
            <div class="navbar-buttons"><a href="./../views/presupuesto.html">Presupuesto</a></div>
            <div class="navbar-buttons"><a href="./../views/about.html">Sobre mí</a></div>
            <div class="navbar-buttons"><a href="./../views/contacto.html">Contacto</a></div> 
        </div>
    </header>

    <!--Cuerpo de la página de "Galería"-->
    <main>

        <div class="titulo-galeria">✴︎ Portfolio ✴︎</div>
        <div id="galeria">

            <img class="gallery" src="./../assets/maneskin-poster.png" alt="Diseño de poster de la banda Maneskin">
            <img class="gallery" src="./../assets/bambie-poster.png" alt="Diseño de poster de la artista Bambie Thug">
            <img class="gallery" src="./../assets/foodmusic-poster.png" alt="Diseño de poster para el festival ficticio Food Music Fest">
            <img class="gallery" src="./../assets/Presentat_kandel.png" alt="Branding de la marca ficticia Kandel">
            <img class="gallery" src="./../assets/challengers-poster.png" alt="Diseño de poster de la película Challengers">
            <img class="gallery" src="./../assets/joost-poster.png" alt="Diseño de poster del artista Joost Klein">
            <img class="gallery" src="./../assets/rrss_kandel.png" alt="Diseño de redes sociales para la marca ficticia Kandel">
            <img class="gallery" src="./../assets/comic-1.jpg" alt="Primeras y segunda página del cómic The Bakery">
            <img class="gallery" src="./../assets/comic-2.jpg" alt="Tercera y cuarta página del cómic The Bakery">
            <img class="gallery" src="./../assets/arte-1.png" alt="Ilustración del proyecto El Destino de Mary">
            <img class="gallery" src="./../assets/arte-2.png" alt="Ilustración del proyecto El Destino de Mary">
            <img class="gallery" src="./../assets/entorno-1.png" alt="Diseño de entorno del proyecto El Destino de Mary">

            <div id="video">
                <video 
                    src="./../assets/demoreel.mp4" 
                    autoplay 
                    controls 
                    poster="./../assets/fondo-reel.PNG"
                    width=1000>
                </video>
            </div>
            
        </div>

    </main>

    <!--Pie de página-->
    <footer class="fin-galeria">

        <div id="social-media">
            <a href="https://instagram.com/lorenallumette" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://vimeo.com/user208402128" target="_blank">
                <i class="fa fa-vimeo"></i>
            </a>
            <a href="https://linkedin.com/in/lorenallumette" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
    </div>

        <!--Avisos legales y datos de la "empresa"-->
        <div id="aviso-legal">
            <a class="aviso" href="">Aviso legal</a>
            <a class="politica-privacidad" href="">Política de privacidad</a>
            <a class="cookies" href="">Cookies</a>
        </div>

        <div id="direccion">C/ Ramon Llull, 5. 46021 <br> Valencia, España
        </div>
       
    </footer>

</body>
</html>